<section class="col-lg-12 forgot-password-section">
    <mat-card class="mx-auto forgot-password-card mat-elevation-z0">
        <div class="center-text mb-2">
            <mat-icon class="scribble-icon">playlist_add_check</mat-icon>
        </div>
        <mat-card-header class="mb-3 center-text">

            <mat-card-title>
                Forgot Password
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <mat-stepper [linear]="true" #stepper>
                <mat-step [stepControl]="emailFormGroup" [editable]="false">
                    <form [formGroup]="emailFormGroup">
                        <ng-template matStepLabel class="stepper-label">Verify Email</ng-template>
                        <mat-form-field appearance="outline" class="form-field-width">
                            <mat-label>Email</mat-label>
                            <input matInput placeholder="Enter your Email" formControlName="email"
                                [errorStateMatcher]="_matcher" required>
                            <mat-error>Invalid Email!</mat-error>
                        </mat-form-field>
                        <div>
                            <button mat-raised-button color="primary"
                                *ngIf="!signUpAndForgotPasswordLoading;else show_spinner"
                                (click)="forgotPassword(stepper)">Verify</button>
                            <ng-template #show_spinner>
                                <span class="spinner">
                                    <mat-spinner [diameter]="35"></mat-spinner>
                                </span>
                            </ng-template>
                        </div>
                    </form>
                </mat-step>
                <mat-step [stepControl]="confirmForgotPasswordFormGroup">
                    <ng-template matStepLabel>Set New Password</ng-template>
                    <form [formGroup]="confirmForgotPasswordFormGroup">
                        <mat-form-field appearance="outline" class="form-field-width">
                            <mat-label>Verification Code</mat-label>
                            <input matInput formControlName="verificationCode"
                                placeholder="Enter verification code sent to your email." [errorStateMatcher]="_matcher"
                                type="password" required>
                            <mat-error>Verification code is required!</mat-error>
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="form-field-width">
                            <mat-label>Password</mat-label>
                            <input matInput formControlName="password" placeholder="Set a password"
                                [errorStateMatcher]="_matcher" type="password">
                            <mat-error>Password is required!</mat-error>
                        </mat-form-field>
                        <div>
                            <button mat-raised-button color="primary" (click)="confirmForgotPassword()">Submit</button>
                            <button mat-button (click)="stepper.reset()" color="primary">Reset</button>
                        </div>
                    </form>
                </mat-step>
            </mat-stepper>
            <p class="mt-3 center-text"> OR </p>
            <p class="mat-h3 center-text">
                Already have an account ?

                <a routerLink="/login" style="text-decoration: none; margin-left: 5px; color:rgb(0, 136, 255)">
                    <strong>Login here</strong>
                </a>
            </p>
        </mat-card-content>

    </mat-card>

</section>