.snackbar-data {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    text-align: left;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
}