.login-section {
    margin-top: 120px;
}

.login-card {
    max-width: 450px;
}

.form-field-width {
    width: 100%;
}

.center-text {
    display: flex;
    justify-content: center;
}

.scribble-icon {
    font-size: 50px;
    height: 50px;
    width: 50px;
}