.dashboard-section {
    margin-top: 40px;
}

.dashboard-header {
    display: inline-flex;
    justify-content: flex-start;
    width: 100%;
}

.add-note-btn {
    margin-left: auto;
    margin-bottom: 10px;
}
.search-form-field {
    width: 100%;
}

.outline {
    border-style: solid;
    border-width: 0.2px;
    border-color: rgb(202, 202, 202);
}
.mat-card-title {
    font-size: 18px;
}
.last-updated-text {
    color: grey;
}

.loading-spinner {
    margin: 0 auto;
}
.pagination-btn {
    margin-right: 10px;
}

.pagination-btn-wrapper {
    display: inline-flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.filter-icon-field {
    width: 10%;
}

/* .alert-box {
    width: 80%;
    
    background-color: rgb(231, 231, 231);
}

.alert-box-border {
    border-left: 5px solid grey;
} */