<section class="container">
    <div class="col-lg-8 mx-auto dashboard-section">
        <h1 class="dashboard-header">
            <span class="mt-1">
                <mat-icon> list_alt</mat-icon>
            </span>
            <span>
                My Scribbles
            </span>
        </h1>
        <form [formGroup]="searchScribbleFormGroup">
            <mat-form-field appearance="outline" class="form-field-width">
                <mat-label>Search Scribbles</mat-label>
                <input matInput formControlName="searchText" placeholder="Search your scribbles..">
                <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>
        </form>
        <div class="row">
            <div class="col-md-4" *ngFor="let scribble of scribbles">
                <mat-card class="example-card mt-2 mat-elevation-z0 outline">
                    <mat-card-title-group>
                        <mat-card-title>
                            {{ scribble.title }}
                        </mat-card-title>
                        <mat-card-subtitle *ngIf="scribble.dueDate">Due: {{ scribble.dueDate | date }}</mat-card-subtitle>
                        <mat-icon>remove_circle_outline</mat-icon>
                    </mat-card-title-group>
                    <mat-card-content>
                        
                        <p>{{ scribble.description }}</p>

                    </mat-card-content>
                    
                </mat-card>
            </div>
        </div>

    </div>

</section>