.add-scribble-section {
    margin-top: 40px;
}

.add-scribble-header {
    display: inline-flex;
    align-items: flex-start;
    justify-content: space-around;
    margin-bottom: 20px;
}

.form-field-width {
    width: 100%;
}